           <!DOCTYPE html>
            <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

            <head>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <title>Garde Cote Maritime</title>
                <!-- BOOTSTRAP STYLES-->
                <link href="gcmcss/bootstrap.css" rel="stylesheet" />
                <!-- FONTAWESOME STYLES-->
                <link href="gcmcss/font-awesome.css" rel="stylesheet" />
                <link href="gcmcss/angucomplete-alt.css" rel="stylesheet" />
                <!-- CUSTOM STYLES-->
                <link href="gcmcss/custom.css" rel="stylesheet" />


                <link href="gcmcss/style1.css" rel="stylesheet" />

            </head>

            <body  ng-app="mygcmApp" ng-controller="searchpageController">

            <div class="container-fluid"  >

                <header class="row col-sm-12">

                    <div class="panel-heading center">
                        <h1>Mon beau site<img src="images/papillon.png" class="pull-right"/><button class="btn btn-danger btn-lg" ng-click="generate()" >OK </button></h1>
                        <ul class="list-unstyled horiz">
                            <li  class="active"><a href="default.asp">Saisie des captures</a></li>
                            <li><a href="news.asp">Operation de controle</a></li>
                            <li><a href="contact.asp">Gestion des amendes</a></li>
                            <li><a  href="about.asp">A propos de nous</a></li>
                        </ul>
                    </div>

                </header>
                <div class="row col-sm-12" layout:fragment="content">
               </div>
                <footer class="row col-sm-12">
                    <div class="panel panel-body">
                        <p>Tous droits réservés par moi...</p>
                    </div>
                </footer>
            </div>


            <script src="gcmjs/jquery-1.10.2.js"></script>

            <!-- BOOTSTRAP SCRIPTS -->
            <script src="gcmjs/bootstrap.min.js"></script>
            <!-- METISMENU SCRIPTS -->
            <script src="gcmjs/jquery.metisMenu.js"></script>

            <!-- CUSTOM SCRIPTS -->

            <script src="gcmjs/angular.js"></script>


            <script src="gcmjs/ui-bootstrap-tpls-1.3.2.min.js"></script>
            <script src="gcmjs/angular-route.js"></script>

            <script src="gcmjs/underscore.js"></script>
            <script src="gcmjs/myApp.js" th:src="@{gcmjs/myApp.js}"></script>


            </body>
            </html>
