           <!DOCTYPE html>
           <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org"
                 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                 xmlns:sec="http://www.springframework.org/schema/security">
            <head>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <title>Garde Cote Maritime</title>
                <!-- BOOTSTRAP STYLES-->
                <link href="gcmcss/bootstrap.css" rel="stylesheet" />
                <link href="gcmcss/jquery-ui.css" rel="stylesheet" />
                <!--     <link   rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css" /> -->
                  <!-- FONTAWESOME STYLES-->
                <link href="gcmcss/font-awesome.css" rel="stylesheet" />
                <link href="gcmcss/angucomplete-alt.css" rel="stylesheet" />
                <!-- CUSTOM STYLES-->
                <link href="gcmcss/style1.css" rel="stylesheet" />
            </head>
            <body >
            <div class="container-fluid spacer"  >
                <header class="row col-sm-12" >
                   <nav role="navigation" class="navbar navbar-default ">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="#" class="navbar-brand">G.C.M</a>
                        </div>
                        <!-- Collection of nav links, forms, and other content for toggling -->
                        <div id="navbarCollapse" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" sec:authorize="hasRole('ROLE_admin')">Consultation<b class="caret"></b></a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#" class="active">Activite de pêche</a></li>
                                        <li><a href="#">Activité usine</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" sec:authorize="hasRole('ROLE_admin')">Documents de captures <b class="caret"></b></a>
                                   <ul role="menu" class="dropdown-menu">
                                        <li>  <a th:href="@{createDocument(firstEtp=0)}" >Saisie</a></li>
                                        <li><a th:href="@{parametrerModels}" >Parametrage de models de captures</a></li>
                                    </ul>
                                </li>
                              <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" sec:authorize="hasRole('ROLE_admin')">Registre de navire <b class="caret"></b></a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a th:href="@{listCarnets}" class="active">Liste des carnets</a></li>
                                        <li><a th:href="@{afficherLstLicence}" class="active">Liste des licences</a></li>
                                               <li><a th:href="@{listBatASelectionner}" class="active">Creer une licence pour un bâteau existant</a></li>
                                               <li><a th:href="@{NouvLicenceBatNouveau1(zeroEtape=true)}" class="active">Creer une Licence pour un nouveau bâteau</a></li>
                                               <li><a th:href="@{listBatASelectionner}" class="active">Liste de  bâteau</a></li>
                                               <li><a th:href="@{listUsines}" class="active">Liste des  usines</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" sec:authorize="hasRole('ROLE_admin')">Divers <b class="caret"></b></a>
                                  <ul role="menu" class="dropdown-menu">
                                        <li><a th:href="@{listConcessions}" class="active">Saisie des Concession</a></li>
                                        <li><a th:href="@{listConcessionnaires}">Saisie des Concessionnaires</a></li>
                                        <li><a th:href="@{listPrefixes}" class="active">Liste prefixes</a></li>
                                        <li><a th:href="@{listTypesConcession}" class="active">Liste des types de concession</a></li>
                                        <li><a th:href="@{listCategRessources}" class="active">Liste des categories de ressources</a></li>
                                        <li><a th:href="@{listModels}" class="active">Liste des models</a></li>
                                        <li><a th:href="@{listEspeces}" class="active">Liste des especes</a></li>
                                        <li><a th:href="@{listZones}" class="active">Liste des zones de peches</a></li>
                                        <li><a th:href="@{listNationalites}" class="active">Liste des zones de nationalités</a></li>
                                        <li><a th:href="@{listTypesLicences}" class="active">Liste des type licences</a></li>
                                        <li><a th:href="@{genererCATEGMODELS}" class="active">Initialiser la base  </a></li>

                                  </ul>
                                </li>

                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" sec:authorize="hasRole('ROLE_admin')">Importations <b class="caret"></b></a>
                                    <ul role="menu" class="dropdown-menu">

                                        <li><a  class="active">------------ </a></li>
                                        <li><a th:href="@{importerLicences}" class="active">Importer les licencences  </a></li>
                                        <li><a th:href="@{importerLicNV}" class="active">Importer les licence batch  </a></li>
                                        <li><a th:href="@{importerDocuments}" class="active">Importer les Les  Debarquements  </a></li>
                                        <li><a th:href="@{importerMarrees}" class="active">Importer les Les  Marrées  </a></li>
                                        <li><a th:href="@{importerTraitements}" class="active">Importer les   Traitements  </a></li>
                                        <li><a  class="active">------------ </a></li>
                                        <li><a th:href="@{importerNationalites}" class="active">Importer les   Nationalites  </a></li>
                                        <li><a th:href="@{importerCategoriesPeche}" class="active">Importer les   Categories de pêche  </a></li>
                                        <li><a th:href="@{importerTypesConcession}" class="active">Importer les   types de concession  </a></li>
                                        <li><a th:href="@{importerPrefixes}" class="active">Importer les   prefixes des types de concession  </a></li>
                                        <li><a th:href="@{importerModels}" class="active">Importer les   modeles de captures </a></li>
                                        <li><a th:href="@{importerZones}" class="active">Importer les   zones de peche </a></li>
                                        <li><a th:href="@{importerCarnets}" class="active">Importer les   carnets </a></li>
                                        <li><a th:href="@{maj}" class="active">mettre a jour </a></li>
                                        </ul>
                                </li>
                                    </ul>
                            <form th:action="@{findDocsByPage}" method="post"  role="search" class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input type="text" id="page" name="page" placeholder="Search" class="form-control" />
                                </div>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <button id="generate" name="generate"  class="btn btn-warning">MAJ</button>
                     <form th:action="@{logout}">

                         <button type="submit"  class="btn btn-warning">Déconnexion</button>
                      </form>

                                </li>

                            </ul>
                        </div>
                    </nav>




                </header>
                <div id="login" name="login"></div>

                <div class="row col-sm-12 panel panel-primary" layout:fragment="content"  >
               </div>




            </div>



            <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
            <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
            <script src="gcmjs/bootstrap.min.js"></script>
            <!-- BOOTSTRAP SCRIPTS -->

            <script src="gcmjs/confirm-bootstrap.js"></script>
            <!-- METISMENU SCRIPTS -->
            <script src="gcmjs/jquery.metisMenu.js"></script>

            <!-- CUSTOM SCRIPTS -->

            <script src="gcmjs/angular.js"></script>


            <script src="gcmjs/ui-bootstrap-tpls-1.3.2.min.js"></script>
            <script src="gcmjs/angular-route.js"></script>

            <script src="gcmjs/underscore.js"></script>
            <script src="gcmjs/myApp.js" th:src="@{gcmjs/myApp.js}"></script>

            <script type="text/javascript">
                /* <![CDATA[ */
                function jq( myid ) {

                    return  "#"+myid.replace( /(:|\.|\[|\]|,|=)/g, "\\$1" );

                }
                var selectedState;
                $(document).ready(function() {
                    var selectedState;

                    $(".dropdown-toggle").dropdown();

                    $("#searchName" ).autocomplete({
                        minLength: 1,
                        delay: 500,
                        //define callback to format results
                        source: function (request, response) {
                            $.getJSON("/autocomnomnav", request, function(result) {
                                response($.map(result, function(item) {
                                    return {
                                        // following property gets displayed in drop down
                                        label: item,
                                        // following property gets entered in the textbox
                                        value: item
                                        // following property is added for our own use
                                        //   tag_url: "http://" + window.location.host + "/tags/" + item.tagId + "/" + item.name
                                    }
                                }));
                            });
                        }

                        //define select handler

                    });
                    $("#searchBat" ).autocomplete({
                        minLength: 1,
                        delay: 500,
                        //define callback to format results
                        source: function (request, response) {
                            $.getJSON("/autocomnomnav", request, function(result) {
                                response($.map(result, function(item) {
                                    return {
                                        // following property gets displayed in drop down
                                        label: item,
                                        // following property gets entered in the textbox
                                        value: item
                                        // following property is added for our own use
                                        //   tag_url: "http://" + window.location.host + "/tags/" + item.tagId + "/" + item.name
                                    }
                                }));
                            });
                        }

                        //define select handler

                    });
                    $("#typeDoc").on('change', function() {

                        $('#numeroFin').find('option').remove();
                        clearDebutFin();
                    })

                    $("[id$=licence\\.qcatressources]").on('change', function() {
                        var url = /*[[@{/updateEngins}]]*/ "/updateEngins";

                            url = url + '?idCategorie=' + this.val();

alert("hhhhh")
                        $("#"+this.val()).load(url);

                    })

                    $("#page").autocomplete({
                        minLength: 1,
                        delay: 500,
                        //define callback to format results
                        source: function (request, response) {

                            $.getJSON("/autocomPagesG",  {
                               numeroP: $("#page").val()
                            }, function(result) {
                                response($.map(result, function(item) {
                                    return {
                                        // following property gets displayed in drop down
                                        label: item,
                                        // following property gets entered in the textbox
                                        value: item
                                        // following property is added for our own use
                                        //   tag_url: "http://" + window.location.host + "/tags/" + item.tagId + "/" + item.name
                                    }
                                }));
                            });
                            clearFields();
                            $("dateDebut").prop('disabled', true);
                        }

                        //define select handler

                    });

                    $("#numeroDebut").autocomplete({
                        minLength: 1,
                        delay: 500,
                        //define callback to format results
                        source: function (request, response) {

                            $.getJSON("/autocomPages",  {
                                typeDoc: $("#typeDoc").val(),
                                numeroD: $("#numeroDebut").val()
                            }, function(result) {
                                response($.map(result, function(item) {
                                    return {
                                        // following property gets displayed in drop down
                                        label: item,
                                        // following property gets entered in the textbox
                                        value: item
                                        // following property is added for our own use
                                        //   tag_url: "http://" + window.location.host + "/tags/" + item.tagId + "/" + item.name
                                    }
                                }));
                            });
                            clearFields();
                            $("dateDebut").prop('disabled', true);
                        }

                        //define select handler

                    });
                    $("#but").click( function()
                            {
                                var url = /*[[@{/finList}]]*/ "/finList";
                                if ($('#numeroDebut').val() !== '') {
                                    url = url + '?debut=' + $('#numeroDebut').val()+"\u0026typeDoc="+$('#typeDoc').val();

                                }
                                $("#dependentContent").load(url);
                            }
                    );

                    $("#numeroDebutAnnexe").autocomplete({
                        minLength: 1,
                        delay: 500,
                        //define callback to format results
                        source: function (request, response) {

                            $.getJSON("/autocomPagesAnnexe",  {
                                typeDoc: $("#typeDocAnnexe").val(),
                                numeroD: $("#prefixeAnnexe").val()+$("#numeroDebutAnnexe").val()
                            }, function(result) {
                                response($.map(result, function(item) {
                                    return {
                                        // following property gets displayed in drop down
                                        label: item,
                                        // following property gets entered in the textbox
                                        value: item
                                        // following property is added for our own use
                                        //   tag_url: "http://" + window.location.host + "/tags/" + item.tagId + "/" + item.name
                                    }
                                }));
                            });
                            clearFields();

                        }

                        //define select handler

                    });
                    $("#butAnnexe").click( function()
                            {
                                var url = /*[[@{/finList}]]*/ "/finListAnnexe";
                                if ($('#numeroDebutAnnexe').val() !== '') {
                                    url = url + '?debut=' +$("#prefixeAnnexe").val()+ $('#numeroDebutAnnexe').val()+"\u0026typeDoc="+$('#typeDocAnnexe').val();

                                }
                                $("#dependentContentAnnexe").load(url);
                            }
                    );

                    $("#generate").click( function()
                            {
                                $("#generate").load('/recupererChangements');
                            }
                    );
                    $("#launchjob").click( function()
                            {
                                $("#login").load('/launchjob');
                            }
                    );

                    $('#deleteA').confirmModal({
                        confirmTitle     : 'Custom please confirm',
                        confirmMessage   : 'Custom are you sure you want to perform this action ?',
                        confirmOk        : 'Custom yes',
                        confirmCancel    : 'Cutom cancel',
                        confirmDirection : 'rtl',
                        confirmStyle     : 'primary',
                        confirmCallback: function (target) {
                            //perform the deletion here, or leave this option
                            //out to just follow link..
                            var href = $('#deleteA').attr('href');

                            var host= $('#deleteA').attr('hostname');
                            console.log(href);
                            window.location.href = href; //causes the browser to refresh and load the requested url
                            alert(window.location.pathname);
                        },
                        confirmDismiss   : true,
                        confirmAutoOpen  : false
                    });


                });

                function clearFields() {
                    $('#numeroFin').find('option').remove();

                }
                function clearDebutFin() {
                    $('#numeroFin').find('option').remove();
                    $('#numeroDebut').val("");

                }

                $("#licence\\.qconcession\\.refConcession").autocomplete({
                    minLength: 1,
                    delay: 500,
                    //define callback to format results
                    source: function (request, response) {
                        $.getJSON("/autocomConcession", request, function(result) {
                            response($.map(result, function(item) {
                                return {
                                    // following property gets displayed in drop down
                                    label: item,
                                    // following property gets entered in the textbox
                                    value: item
                                    // following property is added for our own use
                                    //   tag_url: "http://" + window.location.host + "/tags/" + item.tagId + "/" + item.name
                                }
                            }));
                        });
                    }

                    //define select handler

                });

                $("[id$=esp\\.nomFr]").autocomplete({

                    minLength: 1,
                    delay: 500,
                    //define callback to format results
                    source: function (request, response) {

                        $this = $(this.element).val();

                        var text = $(this.element).attr('id').replace('nomFr','codeEsp');
                    //    alert(text);

                     //    alert($this);
                        $.getJSON("/autocomNomEspece",  {

                            esp: $this
                        }, function(result) {
                            var selectedState='';
                            response($.map(result, function(item) {
                                selectedState = item.codeEsp;
                                return {
                                    // following property gets displayed in drop down
                                    label: item.nomFr,
                                    // following property gets entered in the textbox
                                    value: item.nomFr,
                                    //following property is added for our own use
                                    codeEsp: item.codeEsp

                                }
                           }));
                           ret(jq(text),selectedState);

                        });

              //      $(jq(text)).text("rrr");
                        //$("input[id='" + jq(text) + "']").val("hh");
                       //alert("input[id='" + jq(text) + "']");
                      // $(jq(text)).val();
                      //  var t=document.getDocumentById(jq(text)).value
                       // alert(cde);
                  //      alert($(jq(text)).val());
               //         $(jq(text)).val(selectedState);
                    }

                    //define select handler

                });
                $('#disablebutton').click(function(){

                    $("[id$=especeChoisie\\.codeEsp]").prop('type', 'text');
                    $("[id=disablebutton]").hide();

                });
                $('input[id$=especeChoisie\\.codeEsp]').each(function(){

                  //  this.value = $(this).attr('title');
                    $(this).addClass('text-label');

                    $(this).focus(function(){

                           // this.value = '';
                            $(this).removeClass('text-label');

                    });

                    $(this).blur(function(){

                         //   this.value = $(this).attr('title');
                            $(this).addClass('text-label');

                    });
                });
                $("[id$=especeChoisie\\.codeEsp]").autocomplete({
                    minLength: 1,
                    delay: 500,
                    //define callback to format results
                    source: function (request, response) {

                        $this = $(this.element).val();

                        var text = $(this.element).attr('id').replace('nomFr','codeEsp');
                         //   alert(text);

                        //    alert($this);
                        $.getJSON("/autocomNomEspece",  {

                            esp: $this
                        }, function(result) {
                            var selectedState='';
                            response($.map(result, function(item) {
                                selectedState = item.codeEsp;
                                return {
                                    // following property gets displayed in drop down
                                    label: item.nomFr,
                                    // following property gets entered in the textbox
                                    value: item.codeEsp,
                                    //following property is added for our own use

                                }

                            }));
                     //    ret(jq(text),selectedState);

                        });

                        //      $(jq(text)).text("rrr");
                        //$("input[id='" + jq(text) + "']").val("hh");
                        //alert("input[id='" + jq(text) + "']");
                        // $(jq(text)).val();
                        //  var t=document.getDocumentById(jq(text)).value
                        // alert(cde);
                        //      alert($(jq(text)).val());
                        //         $(jq(text)).val(selectedState);
                    }


                    //define select handler

                });
                function ret(idToUpdate,valueToUpdate) {

                    $(idToUpdate).attr('value',valueToUpdate);

                }
                function loadPrefixes() {
                    var url = /*[[@{/PrefixesByTypeDoc}]]*/ "/PrefixesByTypeDoc";
                    if ($('#CarnetAttribue\\.carnetSelected\\.typeDoc').val() !== '') {
                        url = url + '/' + $('#carnetSelected\\.typeDoc option:selected').text();
                    }
                    $("#divpref").load(url);
                }
                /* ]]> */
            </script>

            </body>
            </html>
