           <!DOCTYPE html>
            <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

            <head>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <title>Garde Cote Maritime</title>
                <!-- BOOTSTRAP STYLES-->
                <link href="gcmcss/bootstrap.css" rel="stylesheet" />
                <link   rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css" />
                <!-- FONTAWESOME STYLES-->
                <link href="gcmcss/font-awesome.css" rel="stylesheet" />
                <link href="gcmcss/angucomplete-alt.css" rel="stylesheet" />
                <!-- CUSTOM STYLES-->



                <link href="gcmcss/style1.css" rel="stylesheet" />

            </head>

            <body >

            <div class="container-fluid spacer"  >

                <header class="row col-sm-12">
                   <nav role="navigation" class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="#" class="navbar-brand">G.C.M</a>
                        </div>
                        <!-- Collection of nav links, forms, and other content for toggling -->
                        <div id="navbarCollapse" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Consultation<b class="caret"></b></a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#" class="active">Activite de pêche</a></li>
                                        <li><a href="#">Activité usine</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Documents de captures <b class="caret"></b></a>


                                    <ul role="menu" class="dropdown-menu">
                                        <li>  <a th:href="@{createDocument(firstEtp=0)}">Saisie</a></li>
                                        <li><a th:href="@{parametrerModels}" >Parametrage de models de captures</a></li>
                                    </ul>
                                </li>
                              <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Registre de navire <b class="caret"></b></a>
                                    <ul role="menu" class="dropdown-menu">
                                             <li><a th:href="@{afficherLstLicence}" class="active">Liste des licences</a></li>
                                               <li><a th:href="@{listBatASelectionner}" class="active">Creer une licence pour un bâteau existant</a></li>
                                               <li><a th:href="@{NouvLicenceBatNouveau1(zeroEtape=true)}" class="active">Creer une Licence pour un nouveau bâteau</a></li>

                                               <li><a th:href="@{listBatASelectionner}" class="active">Liste de  bâteau</a></li>
                                        <li><a th:href="@{listUsines}" class="active">Liste des  usines</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Concessions <b class="caret"></b></a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a th:href="@{listConcessions}" class="active">Saisie des Concession</a></li>
                                        <li><a th:href="@{listConcessionnaires}">Saisie des Concessionnaires</a></li>
                                        <li><a th:href="@{listPrefixes}" class="active">Liste prefixes</a></li>
                                        <li><a th:href="@{listTypesConcession}" class="active">Liste des types de concession</a></li>
                                        <li><a th:href="@{listCategRessources}" class="active">Liste des categories de ressources</a></li>
                                        <li><a th:href="@{listModels}" class="active">Liste des models</a></li>
                                        <li><a th:href="@{listZones}" class="active">Liste des zones de peches</a></li>
                                        <li><a th:href="@{listNationalites}" class="active">Liste des zones de nationalités</a></li>
                                        <li><a th:href="@{listTypesLicences}" class="active">Liste des type licences</a></li>
                                        <li><a th:href="@{genererCATEGMODELS}" class="active">Initialiser la base  </a></li>
                                    </ul>
                                </li>
                            </ul>
                            <form role="search" class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input type="text" placeholder="Search" class="form-control" />
                                </div>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li><button id="generate" name="generate">Login</button></li>
                            </ul>
                        </div>
                    </nav>




                </header>
                <div id="login" name="login"></div>
                <div class="row col-sm-12 panel panel-primary" layout:fragment="content"  >
               </div>
                <footer class="row col-sm-12">
                    <div class="panel panel-body">
                        <p>Tous droits réservés par moi...</p>
                    </div>
                </footer>
            </div>



            <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
            <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
            <script src="gcmjs/bootstrap.min.js"></script>
            <!-- BOOTSTRAP SCRIPTS -->

            <script src="gcmjs/confirm-bootstrap.js"></script>
            <!-- METISMENU SCRIPTS -->
            <script src="gcmjs/jquery.metisMenu.js"></script>

            <!-- CUSTOM SCRIPTS -->

            <script src="gcmjs/angular.js"></script>


            <script src="gcmjs/ui-bootstrap-tpls-1.3.2.min.js"></script>
            <script src="gcmjs/angular-route.js"></script>

            <script src="gcmjs/underscore.js"></script>
            <script src="gcmjs/myApp.js" th:src="@{gcmjs/myApp.js}"></script>

            <script type="text/javascript">
                /* <![CDATA[ */
                function jq( myid ) {

                    return  "#"+myid.replace( /(:|\.|\[|\]|,|=)/g, "\\$1" );

                }
                var selectedState;
                $(document).ready(function() {
                    var selectedState;

                    $(".dropdown-toggle").dropdown();

                    $("#searchName" ).autocomplete({
                        minLength: 1,
                        delay: 500,
                        //define callback to format results
                        source: function (request, response) {
                            $.getJSON("/autocomnomnav", request, function(result) {
                                response($.map(result, function(item) {
                                    return {
                                        // following property gets displayed in drop down
                                        label: item,
                                        // following property gets entered in the textbox
                                        value: item
                                        // following property is added for our own use
                                        //   tag_url: "http://" + window.location.host + "/tags/" + item.tagId + "/" + item.name
                                    }
                                }));
                            });
                        }

                        //define select handler

                    });



                    $("#numeroDebut").autocomplete({
                        minLength: 1,
                        delay: 500,
                        //define callback to format results
                        source: function (request, response) {

                            $.getJSON("/autocomPages",  {
                                typeDoc: $("#typeDoc").val(),
                                numeroD: $("#numeroDebut").val()
                            }, function(result) {
                                response($.map(result, function(item) {
                                    return {
                                        // following property gets displayed in drop down
                                        label: item,
                                        // following property gets entered in the textbox
                                        value: item
                                        // following property is added for our own use
                                        //   tag_url: "http://" + window.location.host + "/tags/" + item.tagId + "/" + item.name
                                    }
                                }));
                            });
                            clearFields();
                            $("dateDebut").prop('disabled', true);
                        }

                        //define select handler

                    });
                    $("#but").click( function()
                            {
                                var url = /*[[@{/finList}]]*/ "/finList";
                                if ($('#numeroDebut').val() !== '') {
                                    url = url + '?debut=' + $('#numeroDebut').val()+"\u0026typeDoc="+$('#typeDoc').val();

                                }
                                $("#dependentContent").load(url);
                            }
                    );

                    $("#numeroDebutAnnexe").autocomplete({
                        minLength: 1,
                        delay: 500,
                        //define callback to format results
                        source: function (request, response) {

                            $.getJSON("/autocomPagesAnnexe",  {
                                typeDoc: $("#typeDocAnnexe").val(),
                                numeroD: $("#prefixeAnnexe").val()+$("#numeroDebutAnnexe").val()
                            }, function(result) {
                                response($.map(result, function(item) {
                                    return {
                                        // following property gets displayed in drop down
                                        label: item,
                                        // following property gets entered in the textbox
                                        value: item
                                        // following property is added for our own use
                                        //   tag_url: "http://" + window.location.host + "/tags/" + item.tagId + "/" + item.name
                                    }
                                }));
                            });
                            clearFields();

                        }

                        //define select handler

                    });
                    $("#butAnnexe").click( function()
                            {
                                var url = /*[[@{/finList}]]*/ "/finListAnnexe";
                                if ($('#numeroDebutAnnexe').val() !== '') {
                                    url = url + '?debut=' +$("#prefixeAnnexe").val()+ $('#numeroDebutAnnexe').val()+"\u0026typeDoc="+$('#typeDocAnnexe').val();

                                }
                                $("#dependentContentAnnexe").load(url);
                            }
                    );

                    $("#generate").click( function()
                            {
                                $("#login").load('/generate');
                            }
                    );


                    $('#deleteA').confirmModal({
                        confirmTitle     : 'Custom please confirm',
                        confirmMessage   : 'Custom are you sure you want to perform this action ?',
                        confirmOk        : 'Custom yes',
                        confirmCancel    : 'Cutom cancel',
                        confirmDirection : 'rtl',
                        confirmStyle     : 'primary',
                        confirmCallback: function (target) {
                            //perform the deletion here, or leave this option
                            //out to just follow link..
                            var href = $('#deleteA').attr('href');

                            var host= $('#deleteA').attr('hostname');
                            console.log(href);
                            window.location.href = href; //causes the browser to refresh and load the requested url
                            alert(window.location.pathname);
                        },
                        confirmDismiss   : true,
                        confirmAutoOpen  : false
                    });


                });

                function clearFields() {
                    $('#numeroFin').find('option').remove();

                }

                $("#licence\\.qconcession\\.refConcession").autocomplete({
                    minLength: 1,
                    delay: 500,
                    //define callback to format results
                    source: function (request, response) {
                        $.getJSON("/autocomConcession", request, function(result) {
                            response($.map(result, function(item) {
                                return {
                                    // following property gets displayed in drop down
                                    label: item,
                                    // following property gets entered in the textbox
                                    value: item
                                    // following property is added for our own use
                                    //   tag_url: "http://" + window.location.host + "/tags/" + item.tagId + "/" + item.name
                                }
                            }));
                        });
                    }

                    //define select handler

                });

                $("[id$=esp\\.nomFr]").autocomplete({

                    minLength: 1,
                    delay: 500,
                    //define callback to format results
                    source: function (request, response) {

                        $this = $(this.element).val();

                        var text = $(this.element).attr('id').replace('nomFr','codeEsp');
                    //    alert(text);

                     //    alert($this);
                        $.getJSON("/autocomNomEspece",  {

                            esp: $this
                        }, function(result) {
                            var selectedState='';
                            response($.map(result, function(item) {
                                selectedState = item.codeEsp;
                                return {
                                    // following property gets displayed in drop down
                                    label: item.nomFr,
                                    // following property gets entered in the textbox
                                    value: item.nomFr,
                                    //following property is added for our own use
                                    codeEsp: item.codeEsp

                                }
                           }));
                           ret(jq(text),selectedState);

                        });

              //      $(jq(text)).text("rrr");
                        //$("input[id='" + jq(text) + "']").val("hh");
                       //alert("input[id='" + jq(text) + "']");
                      // $(jq(text)).val();
                      //  var t=document.getDocumentById(jq(text)).value
                       // alert(cde);
                  //      alert($(jq(text)).val());
               //         $(jq(text)).val(selectedState);
                    }

                    //define select handler

                });
                function ret(idToUpdate,valueToUpdate) {

                    $(idToUpdate).attr('value',valueToUpdate);

                }
                function loadPrefixes() {
                    var url = /*[[@{/PrefixesByTypeDoc}]]*/ "/PrefixesByTypeDoc";
                    if ($('#CarnetAttribue\\.carnetSelected\\.typeDoc').val() !== '') {
                        url = url + '/' + $('#carnetSelected\\.typeDoc option:selected').text();
                    }
                    $("#divpref").load(url);
                }
                /* ]]> */
            </script>

            </body>
            </html>
