
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

 .navbar-default {
  background-color: #fff9e6;
  border-color: #ff8c1a;
}
.navbar-default .navbar-brand {
  color: #1f37b0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #1f37b0;
}
.navbar-default .navbar-text {
  color: #1f37b0;
}
.navbar-default .navbar-nav > li > a {
  color: #1f37b0;ecf0f1
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #1f37b0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #1f37b0;
  background-color: #ecf0f1;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #1f37b0;
  background-color: #ecf0f1;
}
.navbar-default .navbar-toggle {
  border-color: #ff8c1a;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ff8c1a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #1f37b0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #1f37b0;
}
.navbar-default .navbar-link {
  color: #1f37b0;
}
.navbar-default .navbar-link:hover {
  color: #1f37b0;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #1f37b0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #1f37b0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #1f37b0;
    background-color: #ecf0f1;
  }
}