/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.input-mysize { width: 60px }
.form-control .input-sm22 { width: 120px }
.spacer {
    margin-top:15px;
    margin-left:15px;
}
.dang {
    background-color:#ffe4e1
}