<html xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/sitelayout">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>

<body>
<div layout:fragment="content">
    <h3>Ajout de nouveau prefixe </h3>



        <form  th:action="@{/AjouterCategorieSave}"   method="post" th:object="${newCat}">
            <div class="panel panel-primary">
                <div class="panel-heading"><b class="danger">
                    <span> Ajout d'une nouvelle categorie de ressource: </span>
                </b></div>

                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Type de support</label>


                        <select  class="form-control" th:field="*{typeSupport}">

                            <option th:each="var : ${supports}"
                                    th:value="${var}"
                                    th:text= "${var}">hhh</option>
                        </select>
                        <span th:errors="*{typeSupport}"></span>


                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Engins deb</label>

                        <button  type="submit" name="addEngin" value="addEngin"  class="btn btn-success" >Ajouter un engin </button>
                        <table class="table" >
                            <tr th:each="cat,catStat : ${newCat.Engins}">
                                <td> <select th:field="${newCat.Engins[__${catStat.index}__].EnginDeb}">
                                    <option th:each="var : ${allEnginsDeb}"
                                            th:value="${var}"
                                            th:text= "${var} ">hhh</option>
                                </select>

                                </td>
                                <td>
                                    <select th:field="${newCat.Engins[__${catStat.index}__].EnginMar}">

                                        <option th:each="var : ${allEnginsMar}"
                                                th:value="${var}"
                                                th:text= "${var} ">hhh</option>
                                    </select>


                                </td>
                                <td>
                                    <input type="text" th:field="${newCat.Engins[__${catStat.index}__].maillage}" />
                                </td>
                            </tr>
                        </table>



                    </div>
                    <div class="form-group">
                        <select th:field="*{typeconcessionConcernee}">

                            <option th:each="var : ${allTypesConcession1}"
                                    th:value="${var.qtypeconcessionpk}"
                                    th:text= "${var.designation}">hhh</option>
                        </select>
                        <span class="label label-danger" th:errors="*{typeconcessionConcernee}"></span>

                    </div>
                    <div class="form-group">
                        <button  type="submit"  name="action" class="btn btn-success" value="Enregistrer" >Enregistrer</button>
                    </div>
                </div> </div>

        </form>
</div>

</body>
</html>