<html xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/sitelayout">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<div class="form-group">
    <label class="col-sm-2 control-label">dateFinAuth</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{dateFinAuth}" />
    </div>

</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Zone</label>
    <div class="col-sm-4">
        <select th:field="${LicForm.licence.zone.IdZone}">

            <option th:each="var : ${allZones}"
                    th:value="${var.IdZone}"
                    th:text= "${var.nom} ">hhh</option>
        </select>
    </div>

</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Nation</label>
    <div class="col-sm-4">
        <select th:field="${LicForm.licence.nation.idNation}">

            <option th:each="var : ${allNations}"
                    th:value="${var.idNation}"
                    th:text= "${var.designation} ">hhh</option>
        </select>
    </div>

</div>
<div class="form-group">
    <label class="col-sm-2 control-label">type bateau</label>
    <div class="col-sm-4">
        <select th:field="${LicForm.licence.typb}">

            <option th:each="var : ${allTypesBat}"
                    th:value="${var}"
                    th:text= "${var} ">hhh</option>
        </select>
    </div>

</div>




<div class="form-group">
    <label class="col-sm-2 control-label">Balise</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.balise}" />
    </div>

</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Nom de navire</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.nomnav}" />
    </div>

</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Nom armateur</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.nomar}" />
    </div>

</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Longueur</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.longg}" />
    </div>

</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Largeur</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.larg}" />
    </div>

</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Nombre equipage</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.count}" />
    </div>

</div>


<div class="form-group">
    <label class="col-sm-2 control-label">Nombre mauritaniens</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.nbrhomm}" />
    </div>

</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Nombre etrangers</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.eff}" />
    </div>

</div>
<div class="form-group">
    <label class="col-sm-2 control-label">anneeconstr</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.anneeconstr}" />
    </div>

</div>

<div class="form-group">
    <label class="col-sm-2 control-label">calpoids</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.calpoids}" />
    </div>

</div>
<div class="form-group">
    <label class="col-sm-2 control-label">gt</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.gt}" />
    </div>

</div>

<div class="form-group">
    <label class="col-sm-2 control-label">kw</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.kw}" />
    </div>

</div>
<div class="form-group">
    <label class="col-sm-2 control-label">tjb</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.tjb}" />
    </div>

</div>

<div class="form-group">
    <label class="col-sm-2 control-label">imo</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.imo}" />
    </div>

</div>
<div class="form-group">
    <label class="col-sm-2 control-label">port</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.port}" />
    </div>

</div>

<div class="form-group">
    <label class="col-sm-2 control-label">puimot</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.puimot}" />
    </div>

</div>
<div class="form-group">
    <label class="col-sm-2 control-label">radio</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" th:field="*{qnavire.radio}" />
    </div>

</div>
<body>
<h3> List de bateau pour choisire une :</h3>
<form th:action="@{listBat}" method="post" th:object="${ListBat}">

    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{numimm}">
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{nomnav}">
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{nomar}">
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{longg}">
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{puimot}">
        </div>

    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{nation.}">
        </div>

    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{balise}">
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{larg}">
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{count}">
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{ nbrhomm}">
        </div>

    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{ eff}">
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{ anneeconstr}">
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{calpoids}">
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{gt}">
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{kw}">
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{tjb}">
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{imo}">
        </div>

    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{port}">
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Focused</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{radio}">
        </div>

    </div>



</form>

</body>
</html>