<html xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/sitelayout">
<head>
    <meta charset="UTF-8" />
    <title>Document de pêche</title>
</head>
<body>
<div layout:fragment="content">

  <form th:action="@{createDocument}" method="post" th:object="${frmSearchPgsForDocCrea.createDocFormm}" >

      <div>
          <h3 th:text="${frmSearchPgsForDocCrea.createDocFormm.titre}"></h3>
          <div class="panel-group">
              <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1">Informations générales sur l'activité</a>
              </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse" >

   <div class="panel-body">

<table class="table table-striped table-bordered table-hover" ><tr><td>
<table>
    <tr><th></th><th>Ceph</th><th>Dem</th><th>Pel</th><th>Crust</th><th>Autres</th>

    </tr>
    <tr th:each="page, statg : *{currentDoc.segs}">
        <td>
       <div class="form-group form-group-sm">
          <div>
          <label th:text="*{currentDoc.segs[__${statg.index}__].segPeche}"></label>
            <input type="checkbox" th:field="*{currentDoc.segs[__${statg.index}__].choix}" th:value="*{currentDoc.segs[__${statg.index}__].choix}"   />
          </div>
         </div>
        </td>
        <td>
            <div class="form-group form-group-sm">
                <div>

                    <input type="checkbox" th:field="*{currentDoc.segs[__${statg.index}__].ceph}" th:value="*{currentDoc.segs[__${statg.index}__].ceph}"   />
                </div>
            </div>
        </td>
        <td>
            <div class="form-group form-group-sm">
                <div>

                    <input type="checkbox" th:field="*{currentDoc.segs[__${statg.index}__].demersal}" th:value="*{currentDoc.segs[__${statg.index}__].demersal}"   />
                </div>
            </div>
        </td>
        <td>
            <div class="form-group form-group-sm">
                <div>

                    <input type="checkbox" th:field="*{currentDoc.segs[__${statg.index}__].pel}" th:value="*{currentDoc.segs[__${statg.index}__].pel}"   />
                </div>
            </div>
        </td>
        <td>
            <div class="form-group form-group-sm">
                <div>

                    <input type="checkbox" th:field="*{currentDoc.segs[__${statg.index}__].crust}" th:value="*{currentDoc.segs[__${statg.index}__].crust}"   />
                </div>
            </div>
        </td>
        <td>
            <div class="form-group form-group-sm">
                <div>

                    <input type="checkbox" th:field="*{currentDoc.segs[__${statg.index}__].autres}" th:value="*{currentDoc.segs[__${statg.index}__].autres}"   />
                </div>
            </div>
        </td>
    </tr>
</table>

</td>



    </tr>
</table>
              </div>
</div>

</div>
      </div>

        <div class="panel-group" th:if="${frmSearchPgsForDocCrea.createDocFormm.typeDoc=='M'}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse2">Engins de pêche</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" >

                    <div class="panel-body">


                    </div></div></div></div>

            <div class="panel-group" th:if="${frmSearchPgsForDocCrea.createDocFormm.typeDoc=='D'}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse3">Concessions</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" >

                        <div class="panel-body">



                            </div></div></div></div>


          <button type="submit" class="btn btn-primary" id="save" name="save">Enregistrer</button>


        <ul class="nav nav-tabs">
            <li  th:each="page, stat : *{currentDoc.pagesTraitement}" th:class="${__${stat.index}__==__${frmSearchPgsForDocCrea.createDocFormm.currentPage}__}? active : ''"><a data-toggle="tab" th:href="'#page'+${stat.index}" th:text="'page '+*{currentDoc.pagesTraitement[__${stat.index}__].numeroPage}"></a> </li>

        </ul>

        <div class="tab-content">
            <div th:each="page, statp : *{currentDoc.pagesTraitement}" th:attr="id='page'+${statp.index}" class="tab-pane fade in active" th:class="${__${statp.index}__==__${frmSearchPgsForDocCrea.createDocFormm.currentPage}__}? 'tab-pane fade in active' : 'tab-pane fade'" >

                <table class="table table-condensed table-striped  table-hover">
                    <tr>
                        <th >Code Esp</th>
                        <th>
                             Nom Esp
                        </th>
                        <th>
                          Poids en Killogrammes
                        </th>
                    </tr>
                    <tr th:each="jourLigne, statj : *{currentDoc.pagesTraitement[__${statp.index}__].opTraitements}" class="danger">
                        <td>
                            <input type="text" class="form-control input-sm" th:tabindex="((${statj.index}*3)+2)" th:field="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp.codeEsp}"  />
                        </td>
                        <td >
                            <input type="text" class="form-control input-sm" th:tabindex="((${statj.index}*3)+3)"  th:field="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp.nomFr}"  />
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm " th:tabindex="((${statj.index}*3)+4)"  th:field="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].qte}"  />
                        </td>


                    </tr>
                </table>


            </div>

        </div>


   </div>





</form>

</div>


</body>
</html>