<html xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/sitelayout">
<head>
    <meta charset="UTF-8" />
    <title>Document de pêche</title>
</head>
<body>
<div layout:fragment="content">

  <form th:action="@{createDocumentSave}" method="post" th:object="${frmSearchPgsForDocCrea.createDocFormm}">

      <div  >
          <h3 th:text="${frmSearchPgsForDocCrea.createDocFormm.titre}"></h3>
          <div class="panel-group">
              <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1">Informations générales sur l'activité</a>
              </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse" >

              <div class="panel-body">



   <table class="table table-striped table-bordered table-hover" ><tr>
        <td colspan="3">

            <table class="table-bordered" id="categ" >
                <tr>

                    <th th:each="categ, stat : *{currentDoc.categories}"  th:text="*{currentDoc.categories[__${stat.index}__].cat.typeconcessionConcernee}">

                    </th>
                </tr>
                <tr >

                    <td th:each="categ, stat : *{currentDoc.categories}">
                        <input type="checkbox"  th:field="*{currentDoc.categories[__${stat.index}__].flag}" th:value="*{currentDoc.categories[__${stat.index}__].flag}" /></td>
                </tr>
            </table>

        </td><td>


                      <div class="form-group form-group-sm">
                          <div  >

                              ref concession:<label th:text="*{currentDoc.qconcession!=null?currentDoc.qconcession.refConcession:'non applicable'}"></label>
                          </div></div></td>

                      <td>
                          <div class="form-group form-group-sm">
                              <div  >
                                  Consignataire:
                                  <label th:text="*{currentDoc.qconcession!=null?currentDoc.qconcession.qconsignataire.nomconsignataire:'non applicable'}"></label>
                              </div></div>
                      </td>
                      <td>
                          <div class="form-group form-group-sm">
                              <div >
                                  Nom de navire
                                  <label class="control-label" th:text="*{currentDoc.qnavire.nomnav}" />
                              </div>
                          </div>

                      </td>
       <td>
                          <div class="form-group form-group-sm">
                              <div  >
                                  Nom de capitaine
                                  <input type="text" class="control-label"  th:field="*{currentDoc.nomCapitaine}" />
                              </div>
                          </div>
                      </td>
                  </tr>
                      <tr>
                          <td>

                              <div class="form-group form-group-sm">
                                  <div  >
                                      <label class="control-label">Numimm:</label>

                                      <input type="text"  class="form-control input-sm" th:disabled="true" th:field="*{currentDoc.numImm}" th:value="*{currentDoc.numImm}"   />
                                  </div></div>
                          </td><td>

                          <div class="form-group form-group-sm">
                              <div  >
                                  <label> reference</label>
                                  <select th:field="*{currentDoc.licenceImputation}" >

                                      <option th:each="var : ${licencesRef}"
                                              th:value="${var.numlic}"
                                              th:text= "${var.numlic}">hhh</option>
                                  </select>
                              </div></div> </td><td>



                          <div class="form-group form-group-sm">
                              <div  >
                                  <label class="control-label">date de depart:</label>

                                  <input type="date"  class="form-control input-sm" th:disabled="true"  th:field="*{currentDoc.depart}" th:value="*{#dates.format(currentDoc.depart, 'yyyy-MM-dd')}" />

                              </div>
                          </div>

                      </td><td>


                          <div class="form-group form-group-sm">
                              <div  >
                                  <label class="control-label" >date de retour:</label>

                                  <input type="date" class="form-control input-sm"  th:disabled="true" th:field="*{currentDoc.retour}"  />
                              </div>
                          </div>


                      </td><td>
                          <select th:field="*{currentDoc.support}" >

                              <option th:each="var : ${supports}"
                                      th:value="${var}"
                                      th:text= "${var}"></option>
                          </select>
                          Quota en Tonne :

                          <label th:text="*{currentDoc.qconcession!=null?currentDoc.qconcession.quotaEnTonne:'non applicable'}"></label>
                      </td><td> duree concession
                          <label th:text="*{currentDoc.qconcession!=null?currentDoc.qconcession.dureeConcession:'non applicable'}"></label>
                      </td>
                          <td>
                              date fin de concession
                              <label th:text="*{currentDoc.qconcession!=null?currentDoc.qconcession.dateFin:'non applicable'}"></label>
                          </td>
                      </tr></table>







        </div>
</div>
</div>
      </div>

        <div class="panel-group" th:if="${frmSearchPgsForDocCrea.createDocFormm.typeDoc=='D'}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse2">Engins de pêche</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" >

                    <div class="panel-body">
        <div class="form-group form-group-sm">
                <div class=" col-sm-6" >



              <table class="table-bordered"  id="engins" >
               <tr>
                   <th th:each="engindeb, stat : *{currentDoc.Engins}" th:text="*{currentDoc.Engins[__${stat.index}__].EnginDeb}"></th>
               </tr>
               <tr>

              <td th:each="engindeb, stat : *{currentDoc.Engins}">

                  <input type="number" class="form-control input-sm input-mysize" th:field="*{currentDoc.Engins[__${stat.index}__].maillage}"  th:value="*{currentDoc.Engins[__${stat.index}__].maillage}"/>

              </td>

                </tr>
                 <tr >

            <td th:each="engindeb, stat : *{currentDoc.Engins}">
                <input type="checkbox"  th:field="*{currentDoc.Engins[__${stat.index}__].flag}"  th:value="*{currentDoc.Engins[__${stat.index}__].flag}"  /></td>
              </tr>
                   </table>

                </div>

</div></div></div></div></div>




          <button type="submit" class="btn btn-primary" id="save" name="save">Enregistrer</button>


        <ul class="nav nav-tabs">
            <li  th:each="page, stat : *{currentDoc.pages}" th:class="${__${stat.index}__==__${frmSearchPgsForDocCrea.createDocFormm.currentPage}__}? active : ''"><a data-toggle="tab" th:href="'#page'+${stat.index}" th:text="'page '+*{currentDoc.pages[__${stat.index}__].numeroPage}"></a> </li>

        </ul>

        <div class="tab-content " >
            <div th:each="page, statp : *{currentDoc.pages}" th:attr="id='page'+${statp.index}" class="tab-pane fade in active" th:class="${__${statp.index}__==__${frmSearchPgsForDocCrea.createDocFormm.currentPage}__}? 'tab-pane fade in active' : 'tab-pane fade'" >

                <table class="table-bordered">
                    <tr>
                        <th ></th>
                        <th ></th>
                        <th ></th>
                        <th ></th>
                        <th >Date du jour</th>
                        <th th:each="p, statesp : *{currentDoc.pages[__${statp.index}__].listJours[0].debarqDuJour}">
                            <span  th:text="*{currentDoc.pages[__${statp.index}__].listJours[0].debarqDuJour[__${statesp.index}__].especeTypee.qespece.nomFr}" />
                        </th>
                    </tr>
                    <tr th:each="jourLigne, statj : *{currentDoc.pages[__${statp.index}__].listJours}" class="danger">
                        <td > <input type="text" th:field="*{currentDoc.pages[__${statp.index}__].listJours[__${statj.index}__].indexLigne}" th:value="*{currentDoc.pages[__${statj.index}__].listJours[__${statj.index}__].indexLigne}"/>
                        </td>
                        <td ><input type="text" th:field="*{currentDoc.pages[__${statp.index}__].listJours[__${statj.index}__].numPage}" th:value="*{currentDoc.pages[__${statj.index}__].listJours[__${statj.index}__].numPage}"/>
                        </td>
                       <td><input type="text" th:field="*{currentDoc.pages[__${statp.index}__].listJours[__${statj.index}__].numImm}" th:value="*{currentDoc.pages[__${statj.index}__].listJours[__${statj.index}__].numImm}"/>
                        </td>
                        <td>
                <input type="date" class="form-control input-sm " th:disabled="true" th:field="*{currentDoc.pages[__${statp.index}__].listJours[__${statj.index}__].dateJour}" th:value="*{#dates.format(currentDoc.pages[__${statp.index}__].listJours[__${statj.index}__].dateJour, 'yyyy-MM-dd')}" />
                        </td>
                        <td th:each="jourCap, statc : *{currentDoc.pages[__${statp.index}__].listJours[__${statj.index}__].debarqDuJour}">

                        <input type="text" th:field="*{currentDoc.pages[__${statp.index}__].listJours[__${statj.index}__].debarqDuJour[__${statc.index}__].indexLigne}" th:value="*{currentDoc.pages[__${statj.index}__].listJours[__${statj.index}__].debarqDuJour.indexLigne}"/>

                        <input type="text" th:field="*{currentDoc.pages[__${statp.index}__].listJours[__${statj.index}__].debarqDuJour[__${statc.index}__].numPage}" th:value="*{currentDoc.pages[__${statj.index}__].listJours[__${statj.index}__].debarqDuJour[__${statc.index}__].numPage}"/>
                        <input type="text" th:field="*{currentDoc.pages[__${statp.index}__].listJours[__${statj.index}__].debarqDuJour.numImm}" th:value="*{currentDoc.pages[__${statj.index}__].listJours[__${statj.index}__].debarqDuJour[__${statc.index}__].numImm}"/>
                            <input type="text" th:field="*{currentDoc.pages[__${statp.index}__].listJours[__${statj.index}__].debarqDuJour[__${statc.index}__].dateJour}" th:value="*{currentDoc.pages[__${statj.index}__].listJours[__${statj.index}__].debarqDuJour[__${statc.index}__].dateJour}"/>
                            <input type="text" th:field="*{currentDoc.pages[__${statp.index}__].listJours[__${statj.index}__].debarqDuJour[__${statc.index}__].idespece}" th:value="*{currentDoc.pages[__${statj.index}__].listJours[__${statj.index}__].debarqDuJour[__${statc.index}__].idespece}"/>
                            <input type="text" th:field="*{currentDoc.pages[__${statp.index}__].listJours[__${statj.index}__].debarqDuJour[__${statc.index}__].esptype}" th:value="*{currentDoc.pages[__${statj.index}__].listJours[__${statj.index}__].debarqDuJour[__${statc.index}__].esptype}"/>

                        <input type="text" class="form-control input-sm " th:tabindex="((*{currentDoc.pages[__${statp.index}__].nbrLigne}*${statc.index})+${statj.index}+1)" th:field="*{currentDoc.pages[__${statp.index}__].listJours[__${statj.index}__].debarqDuJour[__${statc.index}__].quantite}" th:value="*{currentDoc.pages[__${statp.index}__].listJours[__${statj.index}__].debarqDuJour[__${statc.index}__].quantite}"/>
                        </td>
                    </tr>
                </table>


            </div>

        </div>
   </div>
</form>

</div>


</body>
</html>