<html xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/sitelayout">
<head>
    <meta charset="UTF-8" />
    <title>Document de pêche</title>
</head>
<body>
<div layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">Saisie de Fiche de Traitement</div>
        <div class="panel-body">
    <form th:action="@{createDocumentSave}" method="post" th:object="${frmSearchPgsForDocCrea.createDocFormm}" >
        <input type="hidden"  class="form-control input-sm"  th:field="*{currentDoc.numImm}" th:value="*{currentDoc.numImm}"   />
        <input type="hidden"  class="form-control input-sm"  th:field="*{currentDoc.depart}" th:value="*{currentDoc.depart}"   />

        <div>
            <h3 th:text="${frmSearchPgsForDocCrea.createDocFormm.titre}"></h3>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Informations générales sur l'activité</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse" >

                        <div class="panel-body">

                            <table class="table table-striped table-bordered table-hover" ><tr><td>

                                <table class="table table-striped table-bordered">
                                    <tr><th></th><th></th><th>Ceph</th><th>Dem</th><th>Pel</th><th>Crust</th><th>Autres</th>

                                    </tr>
                                    <tr th:each="page, statg : *{currentDoc.segs}">
                                        <input type="hidden" th:field="*{currentDoc.segs[__${statg.index}__].dateTraitement}" th:value="*{currentDoc.segs[__${statg.index}__].dateTraitement}"/>
                                        <input type="hidden" th:field="*{currentDoc.segs[__${statg.index}__].refAgrement}" th:value="*{currentDoc.segs[__${statg.index}__].refAgrement}" />
                                        <input type="hidden" th:field="*{currentDoc.segs[__${statg.index}__].segPeche}" th:value="*{currentDoc.segs[__${statg.index}__].segPeche}" />

                                        <td> <label th:text="*{currentDoc.segs[__${statg.index}__].segPeche}"></label></td>
                                        <td>
                                            <div class="form-group form-group-sm">
                                                <div>

                                                    <input type="checkbox" th:field="*{currentDoc.segs[__${statg.index}__].choix}" th:value="*{currentDoc.segs[__${statg.index}__].choix}"   />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group form-group-sm">
                                                <div>

                                                    <input type="checkbox" th:field="*{currentDoc.segs[__${statg.index}__].ceph}"  th:value="*{currentDoc.segs[__${statg.index}__].ceph}"   />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group form-group-sm">
                                                <div>

                                                    <input type="checkbox" th:field="*{currentDoc.segs[__${statg.index}__].demersal}" th:value="*{currentDoc.segs[__${statg.index}__].demersal}"   />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group form-group-sm">
                                                <div>

                                                    <input type="checkbox" th:field="*{currentDoc.segs[__${statg.index}__].pel}" th:value="*{currentDoc.segs[__${statg.index}__].pel}"   />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group form-group-sm">
                                                <div>

                                                    <input type="checkbox" th:field="*{currentDoc.segs[__${statg.index}__].crust}" th:value="*{currentDoc.segs[__${statg.index}__].crust}"   />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group form-group-sm">
                                                <div>

                                                    <input type="checkbox" th:field="*{currentDoc.segs[__${statg.index}__].autres}" th:value="*{currentDoc.segs[__${statg.index}__].autres}"   />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </td>



                            </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel-group" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">Informations usine</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse" >

                        <div class="panel-body">
                            <table>
                         <tr>
                                <td>Agrement </td><td> <input type="text" th:field="*{currentDoc.qusine.refAgrement}" th:value="*{currentDoc.qusine.refAgrement}"   /> </td></tr>
                                <tr>
                                <td>Agrement UE</td><td> <input type="text" th:field="*{currentDoc.qusine.refAgrementUE}" th:value="*{currentDoc.qusine.refAgrementUE}"   /> </td></tr>  <tr>
                                <td>Capacité de stockage</td><td> <input type="text" th:field="*{currentDoc.qusine.capaciteStockage}" th:value="*{currentDoc.qusine.capaciteStockage}"   /></td></tr>  <tr>
                                <td>Capacité de congelation</td><td> <input type="text" th:field="*{currentDoc.qusine.capaciteCongelation}" th:value="*{currentDoc.qusine.capaciteCongelation}"   /></td></tr>

                                <tr>
                                    <td>Nom usine</td><td> <input type="text" th:field="*{currentDoc.qusine.nomUsine}" th:value="*{currentDoc.qusine.nomUsine}"   /></td></tr>
                                <tr>
                                    <td>Address</td><td> <input type="text" th:field="*{currentDoc.qusine.address}" th:value="*{currentDoc.qusine.address}"   /></td></tr>
                                <tr>
                                    <td>Nom du responsable</td><td> <input type="text" th:field="*{currentDoc.qusine.nomResp}" th:value="*{currentDoc.qusine.nomResp}"   /></td></tr> <tr>
                                <td>Lieu d'implementation</td><td> <input type="text" th:field="*{currentDoc.qusine.lieuImplementation}" th:value="*{currentDoc.qusine.lieuImplementation}"   /></td></tr>
                                <tr><td>Signature de capitaine</td><td> <input type="text" th:field="*{currentDoc.qusine.signatureCapitaine}" th:value="*{currentDoc.qusine.signatureCapitaine}"   /></td></tr>

                            </table>

                        </div></div></div></div>

            <div class="panel-group" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse3">Quantités exportées</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" >

                        <div class="panel-body"  >

                            <table class="table">
                                <tr>
                                    <td th:each="zoneOrientation:*{currentDoc.qQteExp}" th:text="${zoneOrientation.enumZonOrientationPeche}"></td>
                                </tr>
                                <tr >
                                    <td  th:each="categ, stat:*{currentDoc.qQteExp}">
                                        <input type="hidden" th:field="*{currentDoc.qQteExp[__${stat.index}__].refAgrement}" th:value="*{currentDoc.qQteExp[__${stat.index}__].refAgrement}" />
                                        <input type="hidden" th:field="*{currentDoc.qQteExp[__${stat.index}__].dateTraitement}" th:value="*{currentDoc.qQteExp[__${stat.index}__].dateTraitement}"/>
                                        <input type="hidden" th:field="*{currentDoc.qQteExp[__${stat.index}__].enumZonOrientationPeche}" th:value="*{currentDoc.qQteExp[__${stat.index}__].enumZonOrientationPeche}" />

                                        <input type="text" th:field="*{currentDoc.qQteExp[__${stat.index}__].qte}" th:value="*{currentDoc.qQteExp[__${stat.index}__].qte}" />


                                    </td>
                                </tr>

                            </table>

                        </div></div></div></div>



            <div class="panel-group" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse4">Quantités traitées</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" >

                        <div class="panel-body">

                            <table class="table">

                              <input type="hidden" th:field="*{currentDoc.qQteTraitees.numImm}" th:value="*{currentDoc.qQteTraitees.numImm}"/>

                             <input type="hidden" th:field="*{currentDoc.qQteTraitees.depart}" th:value="*{currentDoc.qQteTraitees.depart}"/>

                                <tr >
                                    <td>Congelé</td> <td><input type="text" th:field="*{currentDoc.qQteTraitees.congelee}" th:value="*{currentDoc.qQteTraitees.congelee}"/></td>
                                </tr>
                                <tr>
                                    <td>Frais</td> <td><input type="text" th:field="*{currentDoc.qQteTraitees.frais}" th:value="*{currentDoc.qQteTraitees.frais}"/></td>
                                </tr>
                                <tr>
                                    <td>Elaboree</td> <td><input type="text" th:field="*{currentDoc.qQteTraitees.elaboree}" th:value="*{currentDoc.qQteTraitees.elaboree}"/></td>
                                </tr>
                                <tr>
                                    <td>transformee</td> <td><input type="text" th:field="*{currentDoc.qQteTraitees.transformee}" th:value="*{currentDoc.qQteTraitees.transformee}"/></td>
                                </tr>
                                <tr>
                                    <td>fini</td> <td><input type="text" th:field="*{currentDoc.qQteTraitees.fini}" th:value="*{currentDoc.qQteTraitees.fini}"/></td>
                                </tr>
                                <tr>
                                    <td>huile</td> <td><input type="text" th:field="*{currentDoc.qQteTraitees.huile}" th:value="*{currentDoc.qQteTraitees.huile}"/></td>
                                </tr>
                            </table>

                        </div></div></div>           </div>

            <div class="panel-group" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse5">Quantité Déchi</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse" >

                        <div class="panel-body">

                            <label>Qte dechu</label><input type="text" th:field="*{currentDoc.qteDechu}" th:value="*{currentDoc.qteDechu}" />

                        </div></div></div></div>

            <button type="submit" class="btn btn-primary" >Enregistrer</button>
            <input type="hidden" th:field="*{currentDoc.enumtypedoc}" th:value="*{currentDoc.enumtypedoc}" />

            <ul class="nav nav-tabs">
                <li  th:each="page, stat : *{currentDoc.pagesTraitement}" th:class="${__${stat.index}__==__${frmSearchPgsForDocCrea.createDocFormm.currentPage}__}? active : ''"><a data-toggle="tab" th:href="'#page'+${stat.index}" th:text="'page '+*{currentDoc.pagesTraitement[__${stat.index}__].numeroPage}"></a> </li>

            </ul>

            <div class="tab-content">
                <div th:each="page, statp : *{currentDoc.pagesTraitement}" th:attr="id='page'+${statp.index}" class="tab-pane fade in active" th:class="${__${statp.index}__==__${frmSearchPgsForDocCrea.createDocFormm.currentPage}__}? 'tab-pane fade in active' : 'tab-pane fade'" >
                    <input type="hidden" th:field="*{currentDoc.pagesTraitement[__${statp.index}__].numeroPage}" th:value="*{currentDoc.pagesTraitement[__${statp.index}__].numeroPage}" />
                    <table class="table-bordered" style="border-spacing: 20px;" ><tr><td>
                    <table class="table ">
                        <tr>

                            <th>Code Esp</th>
                            <th>
                                Nom Esp
                            </th>
                            <th>
                                Poids en Killogrammes
                            </th>
                        </tr>
                        <tr th:each="jourLigne, statj : *{currentDoc.pagesTraitement[__${statp.index}__].opTraitements}" class="danger" th:if="${statj.index &lt; 20}">

                                <input type="hidden" class="form-control input-sm" th:tabindex="((${statj.index}*4)+2)" th:field="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].IdOpTraitement}" th:value="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].IdOpTraitement!=null?currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].IdOpTraitement:''}" />

                                <input type="hidden" class="form-control input-sm" th:tabindex="((${statj.index}*4)+2)" th:field="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].numeroPage}" th:value="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].numeroPage!=null?currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].numeroPage:''}" />

                            <td>
                                <input type="text" class="form-control input-sm" th:tabindex="((${statj.index}*4)+3)" th:field="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp.codeEsp}" th:value="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp!=null?currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp.codeEsp:''}" />
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm" th:tabindex="((${statj.index}*4)+4)"  th:field="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp.nomFr}"  th:value="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp!=null?currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp.nomFr:''}"/>
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm " th:tabindex="((${statj.index}*4)+5)"  th:field="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].qte}" th:value="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].qte}" />
                            </td>
                        </tr>
                    </table>
                    </td>
                        <td>****</td> <td>****</td>
                        <td>
                        <table class="table">
                            <tr>

                                <th>Code Esp</th>
                                <th>
                                    Nom Esp
                                </th>
                                <th>
                                    Poids en Killogrammes
                                </th>
                            </tr>
                            <tr th:each="jourLigne, statj : *{currentDoc.pagesTraitement[__${statp.index}__].opTraitements}" class="danger" th:if="${statj.index &gt;= 20}">

                                <input type="hidden" class="form-control input-sm" th:tabindex="((${statj.index}*4)+2)" th:field="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].IdOpTraitement}" th:value="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].IdOpTraitement!=null?currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].IdOpTraitement:''}" />

                                <input type="hidden" class="form-control input-sm" th:tabindex="((${statj.index}*4)+2)" th:field="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].numeroPage}" th:value="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].numeroPage!=null?currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].numeroPage:''}" />

                                <td>
                                    <input type="text" class="form-control input-sm" th:tabindex="((${statj.index}*4)+3)" th:field="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp.codeEsp}" th:value="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp!=null?currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp.codeEsp:''}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm" th:tabindex="((${statj.index}*4)+4)"  th:field="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp.nomFr}"  th:value="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp!=null?currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp.nomFr:''}"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm " th:tabindex="((${statj.index}*4)+5)"  th:field="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].qte}" th:value="*{currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].qte}" />
                                </td>
                            </tr>
                        </table>

                    </td></tr></table>
                    Total :  <input type="text" class="form-control input-sm "   th:field="*{currentDoc.pagesTraitement[__${statp.index}__].totalCapturs}" th:value="*{currentDoc.pagesTraitement[__${statp.index}__].totalCapturs}" />

                </div>

            </div>


        </div>





    </form>

</div>
</div></div>

</body>
</html>