<html xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/sitelayout">
<head>
    <meta charset="UTF-8" />
    <title>Document de pêche</title>
</head>
<body>
<div layout:fragment="content">

  <form th:action="@{createDocumentSave}" method="post" th:object="${frmSearchPgsForDocCrea}" >

      <div>
          <h3 th:text="${frmSearchPgsForDocCrea.createDocFormm.titre}"></h3>
          <div class="panel-group">
              <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1">Informations générales sur l'activité</a>
              </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse" >

   <div class="panel-body">

<table class="table table-striped table-bordered table-hover" ><tr><td>

<table class="table table-striped table-bordered">
    <tr><th></th><th></th><th>Ceph</th><th>Dem</th><th>Pel</th><th>Crust</th><th>Autres</th>

    </tr>
    <tr th:each="page, statg : *{createDocFormm.currentDoc.segs}">
        <td> <label th:text="*{createDocFormm.currentDoc.segs[__${statg.index}__].segPeche}"></label></td>
        <td>
       <div class="form-group form-group-sm">
          <div>

            <input type="checkbox" th:field="*{createDocFormm.currentDoc.segs[__${statg.index}__].choix}" th:value="*{createDocFormm.currentDoc.segs[__${statg.index}__].choix}"   />
          </div>
         </div>
        </td>
        <td>
            <div class="form-group form-group-sm">
                <div>

                    <input type="checkbox" th:field="*{createDocFormm.currentDoc.segs[__${statg.index}__].ceph}" th:value="*{createDocFormm.currentDoc.segs[__${statg.index}__].ceph}"   />
                </div>
            </div>
        </td>
        <td>
            <div class="form-group form-group-sm">
                <div>

                    <input type="checkbox" th:field="*{createDocFormm.currentDoc.segs[__${statg.index}__].demersal}" th:value="*{createDocFormm.currentDoc.segs[__${statg.index}__].demersal}"   />
                </div>
            </div>
        </td>
        <td>
            <div class="form-group form-group-sm">
                <div>

                    <input type="checkbox" th:field="*{createDocFormm.currentDoc.segs[__${statg.index}__].pel}" th:value="*{createDocFormm.currentDoc.segs[__${statg.index}__].pel}"   />
                </div>
            </div>
        </td>
        <td>
            <div class="form-group form-group-sm">
                <div>

                    <input type="checkbox" th:field="*{createDocFormm.currentDoc.segs[__${statg.index}__].crust}" th:value="*{createDocFormm.currentDoc.segs[__${statg.index}__].crust}"   />
                </div>
            </div>
        </td>
        <td>
            <div class="form-group form-group-sm">
                <div>

                    <input type="checkbox" th:field="*{createDocFormm.currentDoc.segs[__${statg.index}__].autres}" th:value="*{createDocFormm.currentDoc.segs[__${statg.index}__].autres}"   />
                </div>
            </div>
        </td>
    </tr>
</table>

</td>



    </tr>
</table>
              </div>
</div>

</div>
      </div>

        <div class="panel-group" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse2">Informations usine</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" >

                    <div class="panel-body">
<table>

    <tr>
        <td>Agreement</td><td>
   </td>  </tr>  <tr>
        <td>Agrement UE</td><td> <input type="text" th:field="*{createDocFormm.currentDoc.qusine.refAgrementUE}" th:value="*{createDocFormm.currentDoc.qusine.refAgrementUE}"   /> </td></tr>  <tr>
        <td>Capacité de stockage</td><td> <input type="text" th:field="*{createDocFormm.currentDoc.qusine.capaciteStockage}" th:value="*{createDocFormm.currentDoc.qusine.capaciteStockage}"   /></td></tr>  <tr>
        <td>Capacité de congelation</td><td> <input type="text" th:field="*{createDocFormm.currentDoc.qusine.capaciteCongelation}" th:value="*{createDocFormm.currentDoc.qusine.capaciteCongelation}"   /></td></tr>

    <tr>
     <td>Nom usine</td><td> <input type="text" th:field="*{createDocFormm.currentDoc.qusine.nomUsine}" th:value="*{createDocFormm.currentDoc.qusine.nomUsine}"   /></td></tr>
    <tr>
        <td>Address</td><td> <input type="text" th:field="*{createDocFormm.currentDoc.qusine.address}" th:value="*{createDocFormm.currentDoc.qusine.address}"   /></td></tr>
    <tr>
    <td>Nom du responsable</td><td> <input type="text" th:field="*{createDocFormm.currentDoc.qusine.nomResp}" th:value="*{createDocFormm.currentDoc.qusine.nomResp}"   /></td></tr> <tr>
    <td>Lieu d'implementation</td><td> <input type="text" th:field="*{createDocFormm.currentDoc.qusine.lieuImplementation}" th:value="*{createDocFormm.currentDoc.qusine.lieuImplementation}"   /></td></tr>
    <tr><td>Signature de capitaine</td><td> <input type="text" th:field="*{createDocFormm.currentDoc.qusine.signatureCapitaine}" th:value="*{createDocFormm.currentDoc.qusine.signatureCapitaine}"   /></td></tr>

</table>

                    </div></div></div></div>

            <div class="panel-group" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse3">Quantités exportées</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" >

                        <div class="panel-body"  >

<table class="table">
    <tr>
        <td th:each="zoneOrientation:*{createDocFormm.currentDoc.qQteExp}" th:text="${zoneOrientation.enumZonOrientationPeche}"></td>
    </tr>
    <tr >
    <td  th:each="categ, stat:*{createDocFormm.currentDoc.qQteExp}">


    <input type="text" th:field="*{createDocFormm.currentDoc.qQteExp[__${stat.index}__].qte}" th:value="*{createDocFormm.currentDoc.qQteExp[__${stat.index}__].qte}" />


    </td>
</tr>

</table>

                            </div></div></div></div>



          <div class="panel-group" >
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse4">Quantités traitées</a>
                      </h4>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse" >

                      <div class="panel-body">

                          <table class="table">
                              <tr >
                                  <td>Congelé</td> <td><input type="text" th:field="*{createDocFormm.currentDoc.qQteTraitees.congelee}"/></td>
                              </tr>
                              <tr>
                                  <td>Frais</td> <td><input type="text" th:field="*{createDocFormm.currentDoc.qQteTraitees.frais}"/></td>
                              </tr>
                              <tr>
                                  <td>Elaboree</td> <td><input type="text" th:field="*{createDocFormm.currentDoc.qQteTraitees.elaboree}"/></td>
                              </tr>
                              <tr>
                                  <td>transformee</td> <td><input type="text" th:field="*{createDocFormm.currentDoc.qQteTraitees.transformee}"/></td>
                              </tr>
                              <tr>
                                  <td>fini</td> <td><input type="text" th:field="*{createDocFormm.currentDoc.qQteTraitees.fini}"/></td>
                              </tr>
                              <tr>
                                  <td>huile</td> <td><input type="text" th:field="*{createDocFormm.currentDoc.qQteTraitees.huile}"/></td>
                              </tr>
                          </table>

                      </div></div></div>           </div>

          <div class="panel-group" >
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse5">Quantité Déchi</a>
                      </h4>
                  </div>
                  <div id="collapse5" class="panel-collapse collapse" >

                      <div class="panel-body">

     <label>Qte dechi</label><input type="text" id="jh" />

                      </div></div></div></div>

          <button type="submit" class="btn btn-primary" >Enregistrer</button>
          <input type="hidden" th:field="*{createDocFormm.currentDoc.enumtypedoc}" th:value="*{createDocFormm.currentDoc.enumtypedoc}" />

        <ul class="nav nav-tabs">
            <li  th:each="page, stat : *{createDocFormm.currentDoc.pagesTraitement}" th:class="${__${stat.index}__==__${frmSearchPgsForDocCrea.createDocFormm.currentPage}__}? active : ''"><a data-toggle="tab" th:href="'#page'+${stat.index}" th:text="'page '+*{createDocFormm.currentDoc.pagesTraitement[__${stat.index}__].numeroPage}"></a> </li>

        </ul>

        <div class="tab-content">
            <div th:each="page, statp : *{createDocFormm.currentDoc.pagesTraitement}" th:attr="id='page'+${statp.index}" class="tab-pane fade in active" th:class="${__${statp.index}__==__${frmSearchPgsForDocCrea.createDocFormm.currentPage}__}? 'tab-pane fade in active' : 'tab-pane fade'" >

                <table class="table table-condensed table-striped  table-hover">
                    <tr>
                        <th >Code Esp</th>
                        <th>
                             Nom Esp
                        </th>
                        <th>
                          Poids en Killogrammes
                        </th>
                    </tr>
                    <tr th:each="jourLigne, statj : *{createDocFormm.currentDoc.pagesTraitement[__${statp.index}__].opTraitements}" class="danger">
                        <td>
                            <input type="text" class="form-control input-sm" th:tabindex="((${statj.index}*3)+2)" th:field="*{createDocFormm.currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp.codeEsp}" th:value="*{createDocFormm.currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp!=null?createDocFormm.currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp.codeEsp:''}" />
                        </td>
                        <td >
                            <input type="text" class="form-control input-sm" th:tabindex="((${statj.index}*3)+3)"  th:field="*{createDocFormm.currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp.nomFr}"  th:value="*{createDocFormm.currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp!=null?createDocFormm.currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].esp.nomFr:''}"/>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm " th:tabindex="((${statj.index}*3)+4)"  th:field="*{createDocFormm.currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].qte}" th:value="*{createDocFormm.currentDoc.pagesTraitement[__${statp.index}__].opTraitements[__${statj.index}__].qte}" />
                        </td>
                    </tr>
                </table>


            </div>

        </div>


   </div>





</form>

</div>


</body>
</html>