<html xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/sitelayout">
<head>
  <meta charset="UTF-8" />
  <title>Document de pêche</title>
</head>
<body>
<div layout:fragment="content">

<div class="Absolute-Center is-Responsive">
<div id="logo-container">

</div>
<div   class="col-md-12 col-sm-12 col-xs-12   spacer  ">
<div class="panel panel-info">

<div class="panel-body">

<p th:text="${errorMsg}">Erreur de connexion</p>
</div>
</div>
</div>
</div>
</div>
</body>
</html>