<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="utf-8" />
<title>AuthentificationJOLOLO</title>
  <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}" />
  <link href="../static/css/myStyle1.css" rel="stylesheet" type="text/css" th:href="@{css/myStyle1.css}" />

</head>

<body>

 
<div class="Absolute-Center is-Responsive">
<div id="logo-container">

</div>
<div   class="col-md-12 col-sm-12 col-xs-12   spacer  ">
<div class="panel panel-info">

<div class="panel-body">

<p >Erreur de connexion</p>
</div>
</div>
</div>
</div>

</body>
</html>