<html xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/sitelayout">
<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta name="description" content="" />
   <meta name="author" content="" />
   <!-- Bootstrap core CSS -->
</head>
<body>
<div   layout:fragment="content" >
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">Trouver l'activité d'une navire par date une de depart </div>
        <div class="panel-body">

    <span class="label label-danger" th:text="${notfounddoc}"></span>
   <form th:action="@{searchDocCapture}" method="post" th:object="${sacc}" >

<div class="row">
    <div class="col-md-5">
          <div class="input-group">
           <span class="input-group-addon">Date de d'activité</span>
           <input  type="date" class="form-control"  th:field="*{searchDateCapture}" placeholder="Entrez une date de debut " />
       </div>
    </div>
    <div class="col-md-5">
       <div class="input-group">
           <span class="input-group-addon">Navire</span>
           <input  type="text" class="form-control"  th:field="*{searchBat}" placeholder="Entrez nom de navire à chercher" />
       </div>
    </div>
    <div class="col-md-2">

         <button class="btn btn-lg btn-primary" type="submit"> Trouver &raquo; </button>


    </div>
</div>
   </form>

</div></div>


    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">Trouver les activités d'une navire entre deux dates precises </div>
        <div class="panel-body">

            <span class="label label-danger" th:text="${notfounddoc}"></span>
            <form th:action="@{searchDocCapture}" method="post" th:object="${sacc}" >

                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Date 1</span>
                            <input  type="date" class="form-control"  th:field="*{searchDateCapture}" placeholder="Entrez une date de debut " />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Date 2</span>
                            <input  type="date" class="form-control"  th:field="*{searchDateCapture}" placeholder="Entrez une date de debut " />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Navire</span>
                            <input  type="text" class="form-control"  th:field="*{searchBat}" placeholder="Entrez nom de navire à chercher" />
                        </div>
                    </div>
                    <div class="col-md-2">

                        <button class="btn btn-lg btn-primary" type="submit"> Trouver &raquo; </button>


                    </div>
                </div>
            </form>

        </div></div>






    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">Trouver les traitements d'une usine entre deux dates precises</div>
        <div class="panel-body">

            <form th:action="@{searchDocTraitement}" method="post" th:object="${sacc}" >

                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Date de traitement</span>
                            <input class="form-control" type="text" th:field="*{searchDateTraitement}" th:value="*{searchDateTraitement != null}?*{#dates.format(searchDateTraitement, 'yyyy-MM-dd')}:''"  />
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Date de traitement</span>
                            <input class="form-control" type="text" th:field="*{searchDateTraitement}" th:value="*{searchDateTraitement != null}?*{#dates.format(searchDateTraitement, 'yyyy-MM-dd')}:''"  />
                        </div>

                    </div>
                    <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Usine</span>
                        <input class="form-control" type="text" th:field="*{searchUsine}" placeholder="Entrez nom d'usine à chercher" />
                    </div>
                </div>
                    <div class="col-md-2">
                        <p><button class="btn btn-lg btn-primary" type="submit"> Trouver  &raquo; </button></p>
                    </div></div>
            </form>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">Trouver les activités par type de concession  </div>
        <div class="panel-body">

            <span class="label label-danger" th:text="${notfounddoc}"></span>
            <form th:action="@{searchDocCapture}" method="post" th:object="${sacc}" >

                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Date 1</span>
                            <input  type="date" class="form-control"  th:field="*{searchDateCapture}" placeholder="Entrez une date de debut " />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Date 2é</span>
                            <input  type="date" class="form-control"  th:field="*{searchDateCapture}" placeholder="Entrez une date de debut " />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">type de concession</span>
                            <input  type="text" class="form-control"  th:field="*{searchBat}" placeholder="Entrez nom de navire à chercher" />
                        </div>
                    </div>
                    <div class="col-md-2">

                        <button class="btn btn-lg btn-primary" type="submit"> Trouver &raquo; </button>


                    </div>
                </div>
            </form>

        </div></div>

    </div>

</body>
</html>