<html xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/sitelayout">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>

<body>
<div layout:fragment="content">
<h3> List de bateaux existants </h3>

    <a th:href="@{/naviresExcel}">Exporter vers Excel</a>
<form  th:action="@{/listBatASelectionner}"   method="post" th:object="${lstBat}">

<input type="text" th:field="*{searchName}" />  <button type="submit" >Chercher</button>
<table class="table">
<thead>
       <tr>
           <th>...</th>
           <th>...</th>
           <th>numimm</th>
           <th>nomnav</th>
           <th>nomar</th>
           <th>longg</th>
           <th>puimot</th>
           <th>nation.</th>
           <th>balise</th>
           <th>larg</th>
           <th>count</th>
           <th>nbrhomm</th>
           <th>eff</th>
           <th>calpoids</th>
           <th>gt</th>
           <th>kw</th>
           <th>tjb</th>
           <th>imo</th>
      </tr>
</thead>
    <tbody>
    <tr th:each="b:${lstBat.lstBat}">
        <td>
        <input  type="radio"   th:field="${lstBat.numSelected}"  name="selectedNum" th:value="${b.numimm}"   /></td>
        <td>  <div class="dropdown">  <button th:field="${lstBat.numSelected}" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a th:href="@{NouvLicenceBatExistant(numimm=${b.numimm},action='createlicenceNational')}">Creer une Licence en Regime National</a></li>
                <li><a th:href="@{NouvLicenceBatExistant(numimm=${b.numimm},action='createlicenceLibre')}">Creer une Licence en Regime Etranger</a></li>
                <li><a th:href="@{AttribuerCarnet(numimm=${b.numimm},action='attribuerCarnet')}">Attribuer un nouveau carnet</a></li>

            </ul></div></td>
        <td th:text="${b.numimm}"></td>
        <td th:text="${b.nomnav}"></td>
        <td th:text="${b.nomar}"></td>
        <td th:text="${b.longg}"></td>
        <td th:text="${b.puimot}"></td>
        <td th:text="${b.nation.designation}"></td>
        <td th:text="${b.balise}"></td>
        <td th:text="${b.larg}"></td>
        <td th:text="${b.count}"></td>
        <td th:text="${b.nbrhomm}"></td>
        <td th:text="${b.eff}"></td>
        <td th:text="${b.calpoids}"></td>
        <td th:text="${b.gt}"></td>
        <td th:text="${b.kw}"></td>
        <td th:text="${b.tjb}"></td>
        <td th:text="${b.imo}"></td>

    </tr>
    </tbody>
</table>

</form>
    <div class="container">

        <ul class="nav nav-pills">
            <li th:each="p:${lstBat.numPages}"  th:class="${p==lstBat.pageCourante}?active:''">
                <a th:text="${p}" th:href="@{listBatASelectionner(page=${p},terme=${lstBat.searchName})}"></a>
            </li>
        </ul>
    </div>
</div>

    </body>
</html>