<html xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/sitelayout">
<head>
    <meta charset="UTF-8" />
    <title>List de licences</title>
</head>
<body>
<div layout:fragment="content">
<div class="row">

    <a th:href="@{/launchjob}">Exporter vers Excel</a>
    <form  th:action="@{/afficherLstLicence}"   method="post" th:object="${lstLicForm}">
        <h2 ><p class="spacer"><kbd>Registre des licences</kbd></p> </h2>
        <input type="text" th:field="*{searchNomNav}" />  <button type="submit" >Chercher</button>
        <table class="table table-striped table-bordered table-hover spacer">
            <thead>
            <tr class="warning">
                <td>...</td>
                <th>Numéro </th>
                <th>Matricule</th>
                <th>Navire</th>
                <th>Date Debut</th>
                <th>Date Fin</th>
                <th>Types de peches</th>
                <th>Zone</th>
                <th>Nationalité</th>
                <th>Type de bâteau</th>


                          </tr>
            </thead>
            <tbody>

            <tr th:each="b:${lstLicForm.licences.content}">
                <td><div class="dropdown">  <button th:field="${lstLicForm.numLicSelected}" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ><a th:href="@{modifierLicence(numlic=${b.numlic})}">Modifier</a></li>
                        <li ><a th:href="@{supprimerLicence(numlic=${b.numlic}}">Supprimer</a></li>

                    </ul></div></td>
                <td class="danger" th:text="${b.numlic}"></td>
                <td th:text="${b.qnavire.numimm}"></td>
                <td th:text="${b.nomnav}"></td>

                <td th:text="${#dates.format(b.dateDebutAuth, 'yyyy-MM-dd')}"></td>

                <td th:text="${#dates.format(b.dateFinAuth, 'yyyy-MM-dd')}" ></td>

                <td class="danger">
                    <div th:if="${#lists.isEmpty(b.qcatressources)}">Aucun cat.Ancien licence</div>
                    <table>
                        <tr  th:each="cat,catStat :${b.qcatressources}">
                           <td ><span class="badge"  th:text="${catStat.index+1}"></span></td> <td   th:text="${b.qcatressources[__${catStat.index}__].typeconcessionConcernee}" ></td>

                        </tr>

                    </table>
                    <label th:text="${b.qtypnav!=null ? b.qtypnav.descr:''}" />
                </td>
                <td th:text="${b.zone.nom}"></td>
                <td th:text="${b.nation.designation}"></td>
                <td th:text="${b.typb}"></td>


            </tr>
            </tbody>
        </table>

    </form>
</div>


    <div class="container">
        <!-- Pagination Bar -->

        <ul class="nav nav-pills">

            <li th:class="${pageC.firstPage} ? 'disabled' : '' ">

                <span th:if='${pageC.firstPage}'>← Premier</span>

                <a th:if='${not pageC.firstPage}' th:href='@{afficherLstLicence(page=1,terme=${lstLicForm.searchNomNav})}'>← Premier</a>

            </li>

            <li th:class="${pageC.hasPreviousPage}? '' : 'disabled'">

                <span th:if='${not pageC.hasPreviousPage}'>«</span>

                <a th:if='${pageC.hasPreviousPage}' th:href='@{afficherLstLicence(page=${pageC.number-1},terme=${lstLicForm.searchNomNav})}' title='Go to previous page'>«</a>

            </li>

            <li th:each='item : ${pageC.items}' th:class="${item.current}? active : ''">

                <span th:if='${item.current}'  th:text='${item.number}'>0</span>

                <a th:if='${not item.current}' th:href='@{afficherLstLicence(page=${item.number},terme=${lstLicForm.searchNomNav})}'><span th:text='${item.number}'>0</span></a>

            </li>

            <li th:class="${pageC.hasNextPage}? '' : 'disabled'">

                <span th:if='${not pageC.hasNextPage}'>»</span>

                <a th:if='${pageC.hasNextPage}' th:href='@{afficherLstLicence(page=${pageC.number},terme=${lstLicForm.searchNomNav})}' title='Go to next page'>»</a>

            </li>

            <li th:class="${pageC.lastPage}? 'disabled' : ''">

                <span th:if='${pageC.lastPage}'>Dernier →</span>

                <a th:if='${not pageC.lastPage}' th:href='@{afficherLstLicence(page=${pageC.totalPages},terme=${lstLicForm.searchNomNav})}'>Dernier →</a>

            </li>

        </ul>


    </div>





</div>

</body>
</html>