<html xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/sitelayout">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <label class="label label-danger" th:text="#{lic.numlic.empty}"></label>

    <form  th:action="@{NouvLicenceBatExistant}"  th:object="${LicForm}" class="form-horizontal" method="post">
        <b class="danger">
            Creation d'une nouvelle licence pour :<b></b> <span th:text="${LicForm.licence.qnavire.nomnav}"></span>
        </b>
        <div class="form-group">
            <label class="col-sm-2 control-label">Numero Concession</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" th:field="*{licence.qconcession.refConcession}" />
                <span class="label label-danger" th:errors="*{licence.qconcession}"></span>

            </div>

        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Numero Licence</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" th:field="*{licence.numlic}" />

                <span class="label label-danger" th:errors="*{licence.numlic}"></span>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">dateDebutAuth</label>
            <div class="col-sm-4">
                <input class="form-control" type="date" th:field="*{{licence.dateDebutAuth}}" th:value="*{licence.dateDebutAuth != null}?*{#dates.format(licence.dateDebutAuth, 'yyyy-MM-dd')}:''">13/11/2016</input>
                <span class="label label-danger" th:errors="*{licence.dateDebutAuth}"></span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">dateFinAuth</label>
            <div class="col-sm-4">
                <input class="form-control" type="date" th:field="*{{licence.dateFinAuth}}" th:value="*{licence.dateFinAuth != null}?*{#dates.format(licence.dateFinAuth, 'yyyy-MM-dd')}:''">13/11/2016</input>
                <span class="label label-danger" th:errors="*{licence.dateFinAuth}"></span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Categories de ressources</label>
            <div class="col-sm-4">

                <table>
                    <thead>
                    <tr>
                        <th >categories de ressource</th>

                        <th>
                            <button  type="submit" name="addRow" value="addRow"  class="btn btn-success" >Ajouter une categ </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cat,catStat : ${LicForm.licence.qcatressources}">
                        <td>
                            <select th:field="${LicForm.licence.qcatressources[__${catStat.index}__]}">

                                <option th:each="var : ${allCategoriesConcessions1}"
                                        th:value="${var.typeconcessionConcernee.qtypeconcessionpk}"
                                        th:text= "${var.typeconcessionConcernee} ">hhh</option>
                            </select>
                        </td>

                        <td>
                            <button  type="submit" th:value="${catStat.index}" name="removeRow" >Remove une categorie</button>
                        </td>
                    </tr>
                    </tbody>

      </table>
</div>
            <span class="label label-danger" th:errors="*{licence.qcatressources}"></span>
            </div>



        <div class="form-group">
            <label class="col-sm-2 control-label">Zone</label>
            <div class="col-sm-4">
                <select th:field="${LicForm.licence.zone.IdZone}">

                    <option th:each="var : ${allZones}"
                            th:value="${var.IdZone}"
                            th:text= "${var.nom} ">hhh</option>
                </select> <span th:errors="${LicForm.licence.zone.IdZone}"></span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Nation</label>
            <div class="col-sm-4">
                <select th:field="${LicForm.licence.nation.idNation}">

                    <option th:each="var : ${allNations}"
                            th:value="${var.idNation}"
                            th:text= "${var.designation} ">hhh</option>
                </select><span th:errors="${LicForm.licence.nation.idNation}"></span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">type bateau</label>
            <div class="col-sm-4">
                <select th:field="${LicForm.licence.typb}">

                    <option th:each="var : ${allTypesBat}"
                            th:value="${var}"
                            th:text= "${var} ">hhh</option>
                </select><span th:errors="${LicForm.licence.typb}"></span>
            </div>

        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Numero Immatriculation de bâteau</label>
            <div class="col-sm-4">
                <input class="form-control" type="text"  th:disabled="true" th:field="${LicForm.licence.qnavire.numimm}"  /><span th:errors="${LicForm.licence.balise}"></span>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Balise</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" th:field="${LicForm.licence.balise}"  /><span th:errors="${LicForm.licence.balise}"></span>
            </div>
            <span  class="label label-danger" th:errors="*{licence.balise}"></span>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Nom de navire</label>
            <div class="col-sm-4">
                <input class="form-control" type="text"  th:field="${LicForm.licence.nomnav}" />
                <span class="label label-danger" th:errors="${LicForm.licence.nomnav}"></span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Nom armateur</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" th:field="${LicForm.licence.nomar}" />
                <span class="label label-danger" th:errors="${LicForm.licence.nomar}"></span>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Longueur</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" th:field="${LicForm.licence.longg}" th:value="${LicForm.licence.qnavire.longg}" />
                <span class="label label-danger" th:errors="${LicForm.licence.longg}"></span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Largeur</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" th:field="${LicForm.licence.larg}" />
                <span class="label label-danger" th:errors="${LicForm.licence.larg}"></span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Nombre equipage</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" th:field="${LicForm.licence.count}" />
                <span class="label label-danger" th:errors="${LicForm.licence.count}"></span>
            </div>

        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Nombre mauritaniens</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" th:field="${LicForm.licence.nbrhomm}" />
                <span class="label label-danger" th:errors="${LicForm.licence.nbrhomm}"></span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Nombre etrangers</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" th:field="${LicForm.licence.eff}" />
                <span class="label label-danger" th:errors="${LicForm.licence.eff}"></span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">anneeconstr</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" th:field="${LicForm.licence.anneeconstr}" />
                <span class="label label-danger" th:errors="${LicForm.licence.anneeconstr}"></span>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">calpoids</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" th:field="${LicForm.licence.calpoids}" />
                <span class="label label-danger" th:errors="${LicForm.licence.calpoids}"></span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">gt</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" th:field="${LicForm.licence.gt}" />
                <span class="label label-danger" th:errors="${LicForm.licence.gt}"></span>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">kw</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" th:field="${LicForm.licence.kw}" />
                <span class="label label-danger" th:errors="${LicForm.licence.kw}"></span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">tjb</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" th:field="${LicForm.licence.tjb}" />
                <span class="label label-danger" th:errors="${LicForm.licence.tjb}"></span>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">imo</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" th:field="${LicForm.licence.imo}" />
                <span class="label label-danger" th:errors="${LicForm.licence.imo}"></span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">port</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" th:field="${LicForm.licence.port}" />
                <span class="label label-danger" th:errors="${LicForm.licence.port}"></span>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">puimot</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" th:field="${LicForm.licence.puimot}" />
                <span class="label label-danger" th:errors="${LicForm.licence.puimot}"></span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">radio</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" th:field="${LicForm.licence.radio}" />
                <span class="label label-danger" th:errors="${LicForm.licence.radio}"></span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-4">
        <button  type="submit"  name="addLicenceNational" class="btn btn-success" >Enregistrer</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>