<html xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/sitelayout">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">

<label>generation de prefixes a été terminé , PE-pelagique,DEM-demersale,CRUST- crustacé ,CEPH- cephalopod pour le journaux de pêche</label>
    <label>generation de prefixes a été terminé , PE-pelagique,DEM-demersale,CRUST- crustacé ,CEPH- cephalopod pour le journaux annexe</label>
    <label>generation de prefixe  pour le fiches de traitement</label>
    <label>generation de prefixe PA pour les fiches de debarquement artisanal</label>
    <label>generation de prefixe PC pour les fiches de debarquement côtiere</label>
    <label>generation de types de concession</label>
    <label>generation de categories de ressources</label>
    <label>generation de modeles de saisie standart </label>
    <label>generation de types de licences pour la compatibilité avec l'ancien systéme. </label>
    <label>generation de  zones. </label>
    <label>generation de nationalités. </label>
</div>
</body>
</html>