<html xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/sitelayout">

<head>
    <meta charset="UTF-8" />
    <title>Resultats des captures</title>
</head>
<body>

<div   layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">Gestion des documents</div>
        <div class="panel-body">
    <span class="label label-danger" th:text="${deletefeedback}"></span>
    <span class="label label-danger" th:text="${deblocagefeedback}"></span>



            <form th:action="@{validateDocument}" method="post"  th:object="${resultatsCapturesByConcession}" class="form-inline" >
                <button type="submit"  id="valider" name="valider"  class="btn btn-lg btn-primary"  onsubmit="return confirm('Etes vous sûre de vouloir valider les documents selectionnées?');"> Valider les selections &raquo; </button>
                // qJour
                private Date dateJour     ;
                private Integer       indexLigne ;
                private String secteur;
                private qNavireLegale navire;
                private List<qCapture> capturesDuMarree;
                private float totalCapturs;
                private float totalCong;
                private float nbrCaisse;
                private qPageCarnet pageCarnet;
                private qDoc document;
                private enumModePeche modePeche;
                private String typePeche;

                // resultatsCapturesByConcession model

                @DateTimeFormat(pattern = "yyyy-MM-dd")
                private Date searchDateCapture1;
                @DateTimeFormat(pattern = "yyyy-MM-dd")
                private Date searchDateCapture2;
                private List<choixTypeConcession> types;
                private Map<String,List<Objet>> resultatCaptures; // jours
                private Map<String,List<Objet>> resultatsEntetes; // entetes

                <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Depart</th>
            <th>Retour</th>
            <th>Navire</th>
            <th>Page de Debut</th>
            <th>Page de Fin</th>
            <th>Type de document</th>
            <th>Qté Totale</th>

       </tr>
        </thead>
        <tbody>
             </tr>
        </tbody>
    </table>
</form>





        <div class="container">

            <ul class="nav nav-pills">
                <li th:each="p:${frmSearchPgsForDocCrea.numPages}"  th:class="${p==frmSearchPgsForDocCrea.pageCourante}?active:''">
                    <a th:text="${p}" th:href="@{createDocument(page=${p})}"></a>
                </li>
            </ul>
        </div>

</div>
        <div class="panel-footer">
            Garde Côte 2017
        </div>
    </div>

</div>
</body>
</html>
